[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
requests = "*"
speedtest-cli = "*"
yt-dlp = {git = "https://github.com/yt-dlp/yt-dlp"}
py-cord = {extras = ["speed", "voice"], git = "https://github.com/Pycord-Development/pycord.git"}
pynacl = "*"
aiodns = "*"
brotli = "*"
cchardet = "*"
orjson = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"

[scripts]
start = "py src/main.py"
