{
    "token": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "short_token": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "rec_server_id": "XXXXXXXXXXXXX",
    "rec_server_pass": "XXXXXXXXXXXXXX",
    "akita": "XXXXXXXXXXXXXXXXXXXX",
    "fukushima": "XXXXXXXXXXXXXXXXXXXX"
}