{
    "token": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "short_token": "XXXXXXXXXXXXXXXXXXXX",
    "rec_server_id": "XXXXXXXXXXXXX",
    "rec_server_pass": "XXXXXXXXXXXXX",
    "akita": "http://localhost:8888",
    "fukushima": "http://localhost:8888",
    "channel_id": [
        00000000000000,
        00000000000000
    ]
}